body
{
  background-image: url(../Images/Fondo_Busqueda.jpg);
}




#Buscador
{
  width: 800px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  background-color:steelblue;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
  box-shadow: 10px 15px 40px gray;

}

.caja
{
  width: 100%;
  height: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid yellowgreen;
  padding: 5px;

}

.bottom
{
  
  width: 25%;
  padding: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
  background: gainsboro;
  color: grey
}