body
{
    background-color: cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black
}

#main_wrapper
{
    
    margin: auto;
}

/*Encabezado*/

header h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

header h2
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-top: 0px;
    font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

#main_title
{
    display: inline-block;
}

/*Menu de navegacion*/

nav
{
    
    
    text-align:left
}

nav li
{
    display: inline-block;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul
{
    list-style-type: none;
}

nav a:hover
{
    color:cornflowerblue;
    border-bottom: 3px solid cornflowerblue;

}

nav a
{
    color: black;
}

/*Banner*/

#banner_Image
{
    margin-top: 15px;
    height: 386px;
    border-radius: 5px;
    background: url("../Images/Banner_Images.png")no-repeat;
    position:relative;
}

#banner_description 
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position:absolute;
    top: 130px;
    right: 190px;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    height: 35px;
    width: 50%;
    padding-top: 15px;
    padding-left: 4px;
    color:white;

}

#banner_description a
{
    font-family:'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    position: relative;
    top: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 70px;
    padding-right: 70px;
    
}


/*restaurante1*/




